<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <img class="logo1" src="/images/logo3.png" alt="#" />
                    <ul class="social_icon">
                        <li><a href="https://www.facebook.com/raya.dunia.5/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://x.com/Zufar_Xorazmiy"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://t.me/Zufar_Xorazmiy"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/zufar_xorazmiy"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h3>Biz haqimizda</h3>
                    <ul class="about_us">
                        <li>Raya Dunia - bu charm mahsulotlarini ishlab chiqaruvchi kompaniya</li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h3>Aloqa</h3>
                    <ul class="conta">
                        <li>Manzil: Xorazm viloyati, Urganch shahri, Al-Xorazmiy ko'chasi, 110-uy </li>
                        <li>Telefon: +998 99 968 14 12</li>
                        <li>Email: info@rayadunia.uz</li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <form class="bottom_form">
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Emailingizni kiriting" type="text" name="email">
                        <button class="sub_btn">Obuna bo'lish</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>  <%= new Date().getFullYear() %> Barcha huquqlar himoyalangan. <a href="/privacy-policy">Maxfiylik siyosati</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- Javascript files-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<% if (typeof customJs !== 'undefined') { %>
    <script src="/js/<%= customJs %>.js"></script>
<% } %>
</body>
</html>
