<!--  footer -->
<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="footer_top">
                  <div class="row">
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="logo">
                           <a href="/">Charm do'koni</a>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <ul class="sociel">
                           <li><a href="https://www.facebook.com/raya.dunia.5/"><i class="fa fa-facebook-f"></i></a></li>
                           <li><a href="https://x.com/Zufar_Xorazmiy"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="https://www.instagram.com/zufar_bobojonov/"><i class="fa fa-instagram"></i></a></li>
                           <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <div class="address">
                        <h3>Biz bilan bog'laning</h3>
                        <ul class="loca">
                           <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Toshkent</a></li>
                           <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+998 97 777-10-53</a></li>
                           <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>rayadunia2021@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="address">
                        <h3>Ijtimoiy tarmoqlar</h3>
                        <ul class="Menu_footer">
                           <li><a href="https://x.com/Zufar_Xorazmiy">Twitter</a></li>
                           <li><a href="https://www.facebook.com/raya.dunia.5/">Facebook</a></li>
                           <li><a href="https://www.instagram.com/zufar_bobojonov/">Instagram</a></li>
                           <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/">Linkedin</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="address">
                        <h3>Foydali havolalar</h3>
                        <ul class="Links_footer">
                           <li><a href="/">Bosh sahifa</a></li>
                           <li><a href="#Products">Mahsulotlar</a></li>
                           <li><a href="#About">Biz haqimizda</a></li>
                           <li><a href="#Contact">Bog'lanish</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="address">
                        <h3>Yangiliklar</h3>
                        <form class="bottom_form">
                           <input class="enter" placeholder="Email manzilingiz" type="text" name="Enter your email">
                           <button class="sub_btn">Obuna bo'lish</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- end footer -->
