<!DOCTYPE html>
<html lang="uz">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Raya Dunia - Biz haqimizda</title>
    <meta name="keywords" content="charm, kompaniya tarixi, biz haqimizda" />
    <meta name="description" content="Raya Dunia kompaniyasi haqida ma'lumot" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!-- favicon -->
    <link rel="icon" href="../images/logo3.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
  </head>
  <body class="main-layout">
    <!-- header -->
    <header>
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-banner">
                  <div class="logo">
                    <a href="../index.html"
                      ><img src="../images/logo3.png" alt="logo"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <nav class="navigation navbar navbar-expand-md navbar-dark">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarsExample04"
                  aria-controls="navbarsExample04"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample04">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html">Bosh sahifa</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Biz haqimizda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="products.html">Mahsulotlar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../service.html">Xizmatlar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html#ContactUs">Aloqa</a>
                    </li>
                    <li class="nav-item d_none">
                      <a class="nav-link" href="../login.html">Kirish</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- About section -->
    <div class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="about_title">Raya Dunia haqida</h2>
          </div>
        </div>
        
        <div class="row about_content">
          <div class="col-md-6">
            <div class="about_text">
              <h3>Bizning tarix</h3>
              <p>
                Raya Dunia 2021-yilda tashkil etilgan bo'lib, O'zbekistonda charm 
                mahsulotlari ishlab chiqarish va sotish bilan shug'ullanadi. Biz 
                o'z faoliyatimizni Toshkent shahrida boshlaganmiz va bugungi kunda 
                O'zbekistonning ko'plab hududlarida o'z mijozlarimizga xizmat 
                ko'rsatmoqdamiz.
              </p>
              <p>
                Bizning asosiy maqsadimiz - mijozlarimizga eng sifatli charm 
                mahsulotlarini taqdim etish va ularning har qanday ehtiyojlarini 
                qondirish. Biz har bir mahsulotimizni yuqori sifat standartlari 
                asosida ishlab chiqaramiz.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_image">
              <img src="../images/about-img.jpg" alt="Raya Dunia" />
            </div>
          </div>
        </div>

        <div class="row about_features">
          <div class="col-md-4">
            <div class="feature_card">
              <div class="feature_icon">
                <i class="fa fa-star"></i>
              </div>
              <h4>Sifat</h4>
              <p>
                Biz faqat eng sifatli xom ashyolardan foydalanamiz va har bir 
                mahsulotimiz qat'iy sifat nazoratidan o'tadi.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature_card">
              <div class="feature_icon">
                <i class="fa fa-users"></i>
              </div>
              <h4>Professional jamoa</h4>
              <p>
                Bizning jamoamiz tajribali mutaxassislardan iborat bo'lib, ular 
                o'z ishlarini sevib bajaradilar.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature_card">
              <div class="feature_icon">
                <i class="fa fa-handshake-o"></i>
              </div>
              <h4>Mijozlar bilan ishlash</h4>
              <p>
                Biz har bir mijozimizga individual yondashamiz va ularning 
                talablarini to'liq qondirishga harakat qilamiz.
              </p>
            </div>
          </div>
        </div>

        <div class="row about_stats">
          <div class="col-md-3">
            <div class="stat_card">
              <h3>3+</h3>
              <p>Yillik tajriba</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="stat_card">
              <h3>1000+</h3>
              <p>Mamnun mijozlar</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="stat_card">
              <h3>50+</h3>
              <p>Mahsulot turlari</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="stat_card">
              <h3>5</h3>
              <p>Do'konlar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About section end -->

    <!--  footer -->
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <img class="logo1" src="../images/logo3.png" alt="#" />
              <ul class="social_icon">
                <li><a href="https://www.facebook.com/raya.dunia.5/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://x.com/Zufar_Xorazmiy"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/zufar_bobojonov/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <h3>Ma'lumot</h3>
              <ul class="about_us">
                <li>Biz haqimizda</li>
                <li>FAQs</li>
                <li>Reklama</li>
                <li>Shartlar va qoidalar</li>
                <li><a href="../PrivacyPolicy.html">Maxfiylik siyosati</a></li>
                <li>Yordam</li>
              </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <h3>Aloqa</h3>
              <ul class="conta">
                <li>
                  <p>Toshkent, O'zbekiston</p>
                </li>
                <li>+998 97 777 10 53</li>
                <li>rayadunia2021@gmail.com</li>
              </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <form class="bottom_form">
                <h3>Yangiliklar</h3>
                <input
                  class="enter"
                  placeholder="Elektron pochtangizni kiriting"
                  type="text"
                  name="Elektron pochtangizni kiriting"
                />
                <button class="sub_btn">Obuna bo'ling</button>
              </form>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Copyright 2024 Rayadunia MCHJ. Barcha huquqlar himoyalangan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->

    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
