<!DOCTYPE html>
<html lang="uz">

<head>
   <!-- asosiy -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobil metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- sayt metas -->
   <title>Raya Dunia</title>
   <meta name="keywords" content="charm, charm mahsulotlari, charm vebsayti, elektron tijorat, sotish, charm do'koni, charm xizmati, charm sotib olish">
   <meta name="description" content="Charm mahsulotlarini sotish uchun ochiq manbali elektron tijorat veb-sayti">
   <meta name="author" content="Zufar Bobojonov">
   <!-- bootstrap css -->

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

   <!-- style css -->
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="logincss.css">
   <link rel="stylesheet" href="css/theme.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- favicon -->
   <link rel="icon" href="images/logo3.png" type="image/gif" />
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

   <!-- theme.js needs to be in the head -->
   <script src="./js/theme.js" async></script>
</head>
<!-- body -->

<body class="main-layout">
   <button onclick="topFunction()" id="myBtn" title="Yuqoriga">
   <a href="#">Yuqoriga</a>
   </button>
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader-wrapper">
         <div class="loader-circle"></div>
         <div class="loader-circle"></div>
         <div class="loader-circle"></div>
         <div class="loader-shadow"></div>
         <div class="loader-shadow"></div>
         <div class="loader-shadow"></div>
      </div>
   </div>
   <!-- end loader -->
   <!-- header -->


   <!-- Progress bar  -->
   <div class="progressBar"></div>
   
   <header>
      <!-- header inner -->
      <div class="header" id="top-of-page">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-banner">
                        <div class="logo">
                           <a href="index.html"><img src="./images/logo3.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" href="index.html">Bosh sahifa</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#about">Biz haqimizda</a>
                           </li>

                           <li class="nav-item">
                              <a class="nav-link" href="#Products">Mahsulotlar</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#ContactUs">Aloqa</a>
                           </li>                             
                              <li class="nav-item">
                                 <form class="d_flex" role="search">
                                    <input class="form-control w-45" type="search" placeholder="Mahsulotlarni qidirish..."
                                      aria-label="Search">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor"
                                      class="bi bi-search my-auto searchicon " viewBox="0 0 16 16" class="m-2">
                                      <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    
                                  
                                    
                                 </form>
                              </li>
                              
                               <!-- <form class="d-flex">
                                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                 <button class="btn btn-outline-success" type="submit">Search</button>
                               </form> -->
                           <!-- </li> -->
                           <li class="nav-item d_none">
                              <a class="nav-link" href="login.html">Kirish</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div id="banner1" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="text-bg">
                              <span>Bizning Raya Dunia Do'konimizga Xush Kelibsiz</span>
                              <h1>Eng sifatli charm mahsulotlari</h1>
                              <p>Eng sifatli charm mahsulotlarini topish uchun eng yaxshi joy</p>
                              <a href="#Products">Sotib olish </a> <a href="#ContactUs">Aloqa </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="text_img">
                              <figure class="banner-img"><img src="/images/leathers.png" alt="#" /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="text-bg">
                              <span>Bizning Raya Dunia Do'konimizga Xush Kelibsiz</span>
                              <h1>Eng sifatli charm mahsulotlari</h1>
                              <p>Eng sifatli charm mahsulotlarini topish uchun eng yaxshi joy</p>
                              <a href="#Products">Sotib olish </a> <a href="#ContactUs">Aloqa </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="text_img">
                              <figure class="banner-img"><img src="/images/leathers.png" alt="leather pieces" /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="text-bg">
                              <span>Bizning Charm Do'konimizga Xush Kelibsiz</span>
                              <h1>Eng sifatli charm mahsulotlari</h1>
                              <p>Eng sifatli charm mahsulotlarini topish uchun eng yaxshi joy</p>
                              <a href="#Products">Sotib olish </a> <a href="#ContactUs">Aloqa </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="text_img">
                              <figure class="banner-img"><img src="/images/leathers.png" alt="leather pieces" /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
         </a>
         <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
         </a>
      </div>
   </section>
   <!-- end banner -->

   <!-- company quality services -->
   <div class="page-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="card-service wow fadeInUp">
                  <div class="service_img">
                     <img src="/images/quality1.png" alt="">
                  </div>
                  <div class="body">
                     <h5 class="text-secondary">Sifatli Materiallar</h5>
                     <p>Biz faqat eng yaxshi charm materiallaridan foydalanamiz</p>
                     <a href="/service" class="btn aboutusbtn mt-3">Ko'proq o'qing</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card-service wow fadeInUp">
                  <div class="service_img">
                     <img src="/images/quality2.png" alt="">
                  </div>
                  <div class="body">
                     <h5 class="text-secondary">Professional Ishchilar</h5>
                     <p>Bizning jamoamiz professional va tajribali ustalardan iborat</p>
                     <a href="/service" class="btn aboutusbtn mt-3">Ko'proq o'qing</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card-service wow fadeInUp">
                  <div class="service_img">
                     <img src="/images/quality3.png" alt="">
                  </div>
                  <div class="body">
                     <h5 class="text-secondary">Tezkor Yetkazib Berish</h5>
                     <p>Buyurtmangizni tez va xavfsiz yetkazib beramiz</p>
                     <a href="/service" class="btn aboutusbtn mt-3">Ko'proq o'qing</a>
                  </div>
               </div>
            </div>
         </div>
      </div> <!-- .container -->
   </div> <!-- .page-section -->

   <!-- products -->
   <div class="page-section bg-light" id="Products">
      <div class="container">
         <div class="text-center wow fadeInUp">
            <div class="subhead">Yangi Uslublarni Kashf Eting</div>
            <h2 class="title-section">Bizning Kolleksiyamiz</h2>
            <div class="divider mx-auto"></div>
         </div>

         <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-purse.png" alt="Leather purse">
                  </figure>
                  <h5>Ayol uchun Charm Sumka</h5>
                  <p>Ayol uchun charm sumkalar, qo'l sumkalar, zanjirli sumkalar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-belt.png" alt="Leather belt">
                  </figure>
                  <h5> Erkaklar uchun Charm Kamar</h5>
                  <p> Erkaklar uchun charm kamalar, rasmiy kamalar, sport kamalar</p>

               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-shoes.png" alt="Leather shoes">
                  </figure>
                  <h5> Erkaklar uchun Charm Poyafzallar</h5>
                  <p> Erkaklar uchun charm poyafzallar, rasmiy poyafzallar, sport poyafzallar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-bags.png" alt="Leather bags">
                  </figure>
                  <h5> Erkaklar uchun Charm Sumkalar</h5>
                  <p> Erkaklar uchun charm sumkalar, rasmiy sumkalar, sport sumkalar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-wallet.jpeg" alt="Leather wallet">
                  </figure>
                  <h5> Erkaklar uchun Charm Hamyonlar</h5>
                  <p> Erkaklar uchun charm hamyonlar, rasmiy hamyonlar, sport hamyonlar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-gloves.jpeg" alt="Leather gloves">
                  </figure>
                  <h5> Erkaklar uchun Charm Qo'llar</h5>
                  <p> Erkaklar uchun charm qo'llar, rasmiy qo'llar, sport qo'llar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-bagpacks.png" alt="Leather bagpacks">
                  </figure>
                  <h5>Charm Rukzaklar</h5>   
                  <p> Erkaklar uchun charm rukzaklar, rasmiy rukzaklar, sport rukzaklar</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
               <div class="categories">
                  <figure class="headimg">
                     <img src="/images/Leather-caps.jpeg" alt="Leather caps">
                  </figure>
                  <h5> Charm Kepkalar</h5>
                  <p> Charm kepkalar, rasmiy kepkalar, sport kepkalar</p>
               </div>
            </div>
            <div class="col-12">
               <a href="./html/products.html" class="btn cat-btn mt-3">Ko'proq ko'ring</a>
            </div>
         </div>

      </div> <!-- .container -->
   </div>
   <!-- end products -->


   <!-- About us  section -->
   <div class="page-section" id="about">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6 py-3 wow fadeInUp">
               <span class="subhead">Biz haqimizda</span>
               <h2 class="title-section">Raya Dunia Do'koni</h2>
               <div class="divider"></div>

               <p>Biz 3 yildan ortiq vaqt davomida charm mahsulotlari ishlab chiqarish bilan shug'ullanamiz. Bizning maqsadimiz - mijozlarimizga eng sifatli mahsulotlarni taqdim etish.</p>
               <a href="./html/about.html" class="btn aboutusbtn mt-3">Ko'proq o'qing</a>
            </div>
            <div class="col-lg-6 py-3 wow fadeInRight">
               <figure class="about-img py-3 text-center">
                  <img src="/images/aboutus_img2.png" alt="">
               </figure>
            </div>
         </div>
      </div> <!-- .container -->
   </div> <!-- .page-section -->
   </div>
   <!-- end About us  section -->

   <!---offer-->
   <div class="offer">
      <div class="container">

         <div class="row align-items-center">

            <figure class="about-img col-lg-6 py-3 wow fadeInUp">
               <img src="/images/offerjeacket.png" class="offer-img">
            </figure>


            <div  class="col-lg-6 py-3 wow fadeInRight">
               <p class="offerp"> Bizning maxsus taklifimiz</p>
               <h1> Erkaklar uchun Charm Kurtka</h1>
               <br>
               <p class="offerp"> Erkaklar uchun charm kurtka, rasmiy kurtka, sport kurtka</p>

               <a href="./html/products.html"><button class="btn">Sotib olish &#8594;</button>
               </a>
            </div>
         </div>
      </div>
   </div>


   <div class="page-section" id="arrivals">
      <div class="container">
         <div class="text-center wow fadeInUp">
            <div class="subhead">Qiziqarli Mahsulotlarni Toping</div>
            <h2 class="title-section">Yangi Kelganlar</h2>
            <div class="divider mx-auto"></div>
         </div>

         <div class="row mt-5">
            <div class="col-lg-4 py-3 wow fadeInUp">
               <div class="arrival-card">
                  <div class="body">
                     <figure class="arrival_picture">
                        <img src="/images/arrival_1.jpg" alt="">
                     </figure>
                     <div class="bodycont">
                        <h5 class="arrival-title"><a href="#">Ayol uchun Charm Xamyonlar</a></h5>
                        <div class="post-date">Narxi: <a href="#">4 400 000 so'm</a></div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 py-3 wow fadeInUp">
               <div class="arrival-card">
                  <div class="body">
                     <figure class="arrival_picture">
                        <img src="/images/arrival_2.jpg" alt="">
                     </figure>
                     <div class="bodycont">
                        <h5 class="arrival-title"><a href="#">Erkaklar uchun Charm Poyafzallar</a></h5>
                        <div class="post-date">Narxi: <a href="#">6 800 000 so'm</a></div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-lg-4 py-3 wow fadeInUp">
               <div class="arrival-card">
                  <div class="body">
                     <figure class="arrival_picture">
                        <img src="/images/arrival_3.jpg" alt="">
                     </figure>
                     <div class="bodycont">
                        <h5 class="arrival-title"><a href="#">Erkaklar uchun Charm Rukzaklar</a></h5>
                        <div class="post-date">Narxi: <a href="#">3 600 000 so'm</a></div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 mt-4 text-center wow fadeInUp">
               <a href="./html/products.html" class="btn aboutusbtn">Ko'proq ko'ring</a>
            </div>
         </div>
      </div>
   </div>

   <div class="customer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Mijozlarimiz Fikrlari</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active next-circle"></li>
                     <li data-target="#myCarousel" data-slide-to="1" class="next-circle"></li>
                     <li data-target="#myCarousel" data-slide-to="2" class="next-circle"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 <div class="col-md-9 offset-md-3">
                                    <div class="test_box">
                                       <i><img class="customer-review-quote" src="/images/cos.png" alt="#" /></i>
                                       <h4>Sabrbek Jamol o'g'li</h4>
                                       <p>Salom, men Sabrbek, Toshkentdan. Men yangi charm sumkamni oldim va u mening uchun eng yaxshi tanlov edi. Men sizlarni tavsiya qilaman.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   
                   
                  </div>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Oldingi</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Keyingi</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end customer -->

   <!--  contact -->
   <section class="contact" id="ContactUs">
      <div class="container">
         <div class="contact-details">
            <div class="section-header contact-head  text-center">
               <div class="text-center wow fadeInUp">
                  <h2 class="title-section">Biz bilan bog'laning</h2>
               </div>
               <p>

                  Agar sizda bizning mahsulotlarimiz haqida savollar bo'lsa, iltimos, quyidagi manzillardan biriga murojaat qiling yoki bizga elektron pochta xabarini yuboring.
               <br> Biz sizning muammolaringizni hal qilishga xursandmiz. 
            </p>
                 
               </p>
            </div>
            <!--/.section-header-->
            <div class="contact-content">
               <div class="row">
                  <div class="col-sm-offset-1 col-sm-5">
                     <div class="single-contact-box">
                        <div class="contact-right">
                           <div class="contact-adress">
                              <div class="contact-office-address">
                                 <h3>Bizning manzil</h3>
                                 <p>Toshkent shahri, Chilonzor tumani</p>
                                 <div class="contact-online-address">
                                    <div class="single-online-address">
                                       <i class="fa fa-phone"></i>
                                       +998 97 777-10-53
                                    </div>
                                    <!--/.single-online-address-->

                                    <div class="single-online-address">
                                       <i class="fa fa-envelope-o"></i>
                                       <span>rayadunia2021@gmail.com</span>
                                    </div>
                                    <!--/.single-online-address-->
                                 </div>
                                 <!--/.contact-online-address-->
                              </div>
                              <!--/.contact-office-address-->
                              <div class="contact-office-address">
                                 <h3>Ijtimoiy tarmoqlar</h3>
                                 <div class="contact-icon">
                                    <ul>
                                       <li><a href="https://www.facebook.com/raya.dunia.5/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                       <!--/li-->
                                       <li><a href="https://x.com/Zufar_Xorazmiy"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                       <!--/li-->
                                       <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                       <!--/li-->
                                       <li><a href="https://www.instagram.com/zufar_bobojonov/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                       <!--/li-->
                                    </ul>
                                    <!--/ul-->
                                 </div>
                                 <!--/.contact-icon-->
                              </div>
                              <!--/.contact-office-address-->

                           </div>
                           <!--/.contact-address-->
                        </div>
                        <!--/.contact-right-->
                     </div>
                     <!--/.single-contact-box-->
                  </div>
                  <!--/.col-->
                  <div class="col-sm-5">
                     <div class="single-contact-box">
                        <div class="contact-form">
                           <h3>Bizga xabar qoldiring</h3>
                           <form>
                              <div class="row">
                                 <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                       <input type="text" class="form-control" id="firstname" placeholder="Ismingiz" name="firstname">
                                    </div>
                                    <!--/.form-group-->
                                 </div>
                                 <!--/.col-->
                                 <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                       <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                                    </div>
                                    <!--/.form-group-->
                                 </div>
                                 <!--/.col-->
                              </div>
                              <!--/.row-->
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <textarea class="form-control" rows="7" id="comment" placeholder="Xabaringiz"></textarea>
                                    </div>
                                    <!--/.form-group-->
                                 </div>
                                 <!--/.col-->
                              </div>
                              <!--/.row-->
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="single-contact-btn ">
                                       <button class="contact-btn" type="submit">Yuborish</button>
                                       <button   class="ResetBtn" type="reset">Tozalash</button>
                                    </div>
                                    <!--/.single-single-contact-btn-->
                                 </div>
                                 <!--/.col-->
                              </div>
                              <!--/.row-->
                           </form>
                           <!--/form-->
                        </div>
                        <!--/.contact-form-->
                     </div>
                     <!--/.single-contact-box-->
                  </div>
                  <!--/.col-->
               </div>
               <!--/.row-->
            </div>
            <!--/.contact-content-->
         </div>
         <!--/.contact-details-->
      </div>
      <!--/.container-->

   </section>
   <!--/.contact-->
   <!-- end contact -->
   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="footer_top">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="logo">
                              <a href="index.html">Charm do'koni</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <ul class="sociel">
                              <li><a href="https://www.facebook.com/raya.dunia.5/"><i class="fa fa-facebook-f"></i></a></li>
                              <li><a href="https://x.com/Zufar_Xorazmiy"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="https://www.instagram.com/zufar_bobojonov/"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/"><i class="fa fa-linkedin"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                           <h3>Biz bilan bog'laning</h3>
                           <ul class="loca">
                              <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Toshkent</a></li>
                              <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+998 97 777-10-53</a></li>
                              <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>rayadunia2021@gmail.com</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                           <h3>Ijtimoiy tarmoqlar</h3>
                           <ul class="Menu_footer">
                              <li><a href="https://x.com/Zufar_Xorazmiy">Twitter</a></li>
                              <li><a href="https://www.facebook.com/raya.dunia.5/">Facebook</a></li>
                              <li><a href="https://www.instagram.com/zufar_bobojonov/">Instagram</a></li>
                              <li><a href="https://www.linkedin.com/in/zufar-bobojonov-6544a6251/">Linkedin</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                           <h3>Foydali havolalar</h3>
                           <ul class="Links_footer">
                              <li><a href="index.html">Bosh sahifa</a></li>
                              <li><a href="#Products">Mahsulotlar</a></li>
                              <li><a href="#About">Biz haqimizda</a></li>
                              <li><a href="#Contact">Bog'lanish</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                           <h3>Yangiliklar</h3>
                           <form class="bottom_form">
                              <input class="enter" placeholder="Email manzilingiz" type="text" name="Enter your email">
                              <button class="sub_btn">Obuna bo'lish</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="./js/jquery.min.js"></script>
   <script src="./js/bootstrap.bundle.min.js"></script>
   <!-- sidebar -->

   <script src="./js/custom.js"></script>

   <!-- reiquired js for the page  -->
   <script src="./js/searchSuggestions.js"> </script>
   <script src="./js/index.js"></script>
   <script src="./js/carousal.js"></script>

</body>

</html>
